<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="proglife.com.ua.intellektiks">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.AuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.goods.GoodsShowActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.support.SupportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.lessons.list.LessonsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.lessons.show.LessonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.viewer.ViewerTxtActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.viewer.ViewerPdfActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.viewer.media.ViewerMediaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.bonus.BonusActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.contact.ContactActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.notifications.list.NotificationListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.notifications.show.NotificationShowActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.content.ContentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.remember.ForgotActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <service android:name=".extensions.DownloadService"/>
        <service
            android:name=".extensions.fcm.FcmMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".extensions.fcm.FcmInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_logo"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary"/>

    </application>

</manifest>